<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6+.png</key>
	<string>1111111111</string>
    <key>cat@2x.png</key>
    <string>cat@2x</string>
    <key>图层 1.png</key>
    <string>图层 1</string>
    <key>image1.jpg</key>
    <string>image1</string>
</dict>
</plist>
